@{
    ViewData["Title"] = "Home Page";
}

@model System.Data.DataSet

@using System.Data

<h1>Valid Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th> 
            <th>Email</th>
            <th>Quantity</th>
            <th>Notes</th>
            <th>Size</th>
            <th>Date required</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables["ValidOrder"].Rows)
        {
            <tr>
                <td>
                    @(row["CustomerName"])
                </td>
                <td>
                    @(row["CustomerEmail"])
                </td>
                <td>
                    @(row["Quantity"])
                </td>
                <td>
                    @(row["Notes"])
                </td>
                <td>
                    @(row["Size"])
                </td>
                <td>
                    @(row["DateRequired"])
                </td>
            </tr>
        }
    </tbody>
</table>

